
                        <!-- 이 곳에 게시판 글을 쓸 수 있는 form을 만드세요 -->
                       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<div class = "container">
<form action="/write" method="POST">
  <div class="form-group">
    <label form="exampleInputEmail1">title</label>
    <input name="title" type="text" class="form-control" id="exampleInputEmail1" placeholder="title">
  </div>
  <!-- text area-->
  <div class="form-group">
    <label form="exampleInputPassword1">content</label>
    <textarea name="content" class="form-control" rows="5" id="comment" placeholder="content"></textarea>
  </div>
  <label for="exampleInputPassword1">File upload</label>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
  <!--저장 버튼-->
 
</div>
                       
                        
                        
                        
                        
                        
                        
                        
                        <!-- 이 곳에 게시판 글을 쓸 수 있는 form을 만드세요 끝!-->
                        </div>
                        
                        
                    <!-- 이 곳에 게시글과 댓글을 출력하는 내용을 입력하세요 -->
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>Title : <%= @one_post.title%><br>
                            Content <%= @one_post.content %><br></p>
                            댓글입니다 : <form action = "/Post/reple/<%=@one_post.id%>/comments/create" method = "POST">
                                        <input type= "text" name="input_comment">
                                        <input type="submit">
                            </form>
                            <hr>
                            <% @comments.each do |comment|%>
                            <%=comment.content %><br>
                            <%end%>
                            <hr>
                             <%#원하시면 한번 몇분전에 작성한 글인지 해보세요!%> 
                        </div>
                        <div class="panel-body">
                            <%# 내용 출력 및 이미지가 있다면 이미지 출력 %> 
                            
                            
                            <%# 내용 출력 및 이미지가 있다면 이미지 출력%> 

                            <!-- 댓글을 작성할 수 있는 form을 만드세요 --> 



                            <!-- 댓글을 작성할 수 있는 form을 만드세요 끝!-->
                            <hr>
                            <% # 리플 출력 시작%>
                            
                            
                            
                            <% # 리플 출력 끝 %>
                            
                         </div>
                    </div>
                 
                       
